<h1>The Hacking Project reviens</h1>
<h3><%= "Hey #{@user.first_name.capitalize} !" %></h3>
<p>
  Tu veux apprendre la programmation web (HTML/CSS/JS/Ruby/Rails) en 2 mois et demi ? Fais donc un tour sur le site https://www.thehackingproject.org/ ! La prochaine session est bientôt, n'hésite pas à te renseigner sur les évènements de présentation en cours dans ta ville !
</p>

<p>
  A bientôt futur moussaillon !
</p>

<p>
  The Hacking Project
  42 rue du Caire, 75002 Paris
</p>
