/*
 *= require bootstrap
 *= require font_awesome
 *= require creative/animate.min.css
 *= require creative/creative.css
 *= require_self
*/

/* Giving consistency to the email input field on the CTA */
.input {
    border: 0;
    height: 48px;
    width: 200px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 30px;
}
