

<!-- <form class="form-inline text center"> <div class="form-group mx-sm-3 mb-2"> <input type="password" class="form-control" placeholder="Prénom"> </div> <div class="form-group mx-sm-3 mb-2"> <input type="password" class="form-control"
placeholder="Nom"> </div> <div class="form-group mx-sm-3 mb-2"> <input type="password" class="form-control" placeholder="Password"> </div> <button type="submit" class="btn btn-primary mb-2">Confirm identity</button> </form> -->

<!-- <form class="" action="index.html" method="post"> <input class="input" type="text" name="" value="Ton prénom"> <input class="input" type="text" name="" value="Ton nom"> <input class="input" type="email" name="" value="Ton email"> <a href="#"
class="btn btn-default btn-xl">Je m'inscris !</a> -->
