<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ta carrière de développeur web commence ici</h1>
            <hr>
            <p>The Hacking Project, c'est un coding bootcamp de 3 mois, gratuit, et supporté par une communauté de passionés. Ruby, Rails, HTML/CSS, Javascript, PostgreSQL, Git et Github... Plus rien de tout cela n'aura de secret pour toi ! </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Je m'inscris</a> <%# TODO: snippet Mailchimp à insérer ici %>
        </div>
    </div>
</header>
