<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Hacking Project dans ton inbox !</h2>
                <p>Dates des prochains workshops dans ta ville, les news de THP et bien plus ...</p>
                <hr class="light">
                <form class="" action="index.html" method="post">
                  <input class="input" type="text" name="Email" value="Ton email">
                  <a href="#" class="btn btn-default btn-xl">Je m'inscris !</a>
                </form>
            </div>
        </div>
    </div>
</section>
