<!-- <aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>The Hacking Project dans ton inbox !</h2>
      <p>Dates des prochains workshops dans ta ville, les news de THP et bien plus ...</p>
      <hr class="primary">
      <div class="row">
        <form class="" action="index.html" method="post">
          <input class="input" type="text" name="Email" value="Ton email">
          <a href="#" class="btn btn-default btn-xl wow tada">Je m'inscris</a>
        </form>

      </div>
    </div>
  </div>
</aside> -->
