<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Coding Bootcamp à Strasbourg</h1>
            <hr>
            <p>Forme-toi à la programmation à Strasbourg et deviens développeur web. Rien de tel que d’apprendre à coder avec vue sur la plus belle des cathédrale gothique et de se détendre les mercredis soirs sur les bords du Rhin. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Je m'inscris</a>
        </div>
    </div>
</header>
