<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Développe tes compétences en programmation web avec The Hacking Project</h1>
            <hr>
            <p>Tu travailles déjà dans le digital et souhaites passer à la vitesse supérieure, The Hacking Project est fait pour toi: apprends en peer learning dans une communauté de passionés pendant 3 mois.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Je m'inscris</a>
        </div>
    </div>
</header>
