<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tout ce que tu dois savoir pour devenir développeur web</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>HTML/CSS</h3>
                    <p class="text-muted">En une semaine tu seras capable de refaire la home page de google ou la landing page d'Airbnb. En 3 semaines tu auras le niveau pour vendre tes réalisations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                  <i class="fab fa-4x fa-js-square wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Javascript</h3>
                    <p class="text-muted">Javascript te permet de rendre tes sites plus dynamiques et d'inter-agir avec tes utilisateurs. Tu maîtriseras le langages en 2 semaines</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-github-square wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Git & Github</h3>
                    <p class="text-muted">Git est un formidable outil qui permet à une équipe de travailler ensemble. Tu apprendras à l'utiliser et à optimiser ton travail en équipe sur Github.</p>
                </div>
            </div>

        </div>
<br>
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-gem wow bounceIn text-primary data-wow-delay=".3s""></i>
                    <h3>Ruby</h3>
                    <p class="text-muted">Avec Ruby tu découvriras le scrapping de data, l'utilisation du deep web et les bases de la célèbre Programmation Orientée Objet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-subway wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Ruby on Rails</h3>
                    <p class="text-muted">Découvrez l'un des framework web les plus célèbres. Il vous permettra de rapidement coder une application web fonctionnelle, avec une base de données.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Bases de données</h3>
                    <p class="text-muted">Les bases de données servent à stocker des informations. Tu découvriras comment gérer des utilisateurs avec SQLite3 et PostgreSQL.</p>
                </div>
            </div>

        </div>



    </div>
</section>
